---
layout: base.njk
title: Página não encontrada
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="page-head"><div class="wrap">
  <p class="ruled left">404</p>
  <h1>Essa página não existe</h1>
  <p class="lead">O endereço pode ter mudado. Volte para o <a href="/">início</a> ou veja as <a href="/reflexoes/">reflexões</a>.</p>
</div></section>
